<mat-card style="background-color: rgb(37, 44, 36);">
    <mat-card-content>
        <h2 style="color: white;"><em>{{ title$ | async }}</em></h2>
        <mat-form-field>
            <mat-label>Counter Input</mat-label>
            <input matInput [(ngModel)]="customValue">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Counter Input</mat-label>
            <mat-select [(ngModel)]="customType">
                <mat-option value="add">Add</mat-option>
                <mat-option value="remove">Remove</mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <button mat-raised-button style="background-color: rgb(91, 12, 116); color: white;" (click)="submit()">
            Proceed
        </button>
        <br>
        <h4 class="mat-error">{{errorMessage}}</h4>
    </mat-card-content>
</mat-card>