<mat-toolbar style="background-color: rgb(82, 35, 35);" class="mat-elevation-z8">
    <span style="color: white;">NGRX Learning</span> &nbsp; &nbsp;
    <button mat-button routerLink="" style="color:white">
        <mat-icon fontIcon="home"></mat-icon>
        <span>Home</span>
    </button>
    <button mat-button routerLink="counter" style="color:white">
        <mat-icon fontIcon="watch"></mat-icon>
        <span>Counter</span>
    </button>
    <button mat-button routerLink="blog" style="color:white">
        <mat-icon fontIcon="book"></mat-icon>
        <span>Blog</span>
    </button>
</mat-toolbar>