<div style="text-align: center;">
    <h1>Technology Blogs</h1>
    <br>
    <button mat-raised-button color="primary" (click)="openAddBlog()">Add</button>
    @for (blog of blogs$ | async; track blog) {
    <mat-card>
        <mat-card-header>
            <h2><strong>{{blog.title}}</strong></h2>
            <div style="width: 100%; text-align: right;">
                <button style="background-color: rgb(2, 70, 2); color: white;" (click)="openUpdateBlog(blog.id)"
                    mat-raised-button><mat-icon fontIcon="edit"></mat-icon></button>
                <button style="background-color: rgb(143, 58, 8); color: white;" (click)="deleteBlog(blog.id)"
                    mat-raised-button><mat-icon fontIcon="delete"></mat-icon></button>
            </div>
        </mat-card-header>
        <mat-card-content>
            <p>{{blog.description}}</p>
        </mat-card-content>
    </mat-card>
    }
</div>